
  .modal{
   max-height:100%;
   overflow:hidden;
  }
  
  input[type="submit"]{
    width: 100%;
    margin-top: 50px;
  }
  .modal-close{
    position: absolute;
    top:10px;
    right:10px;
    padding:0;
    margin:0;
  }
.bg{
    background-image: url("Images/aaa.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width:100%;

}

  input[type=text]:focus {
    width: 100%;
  }
  .search:hover{
      height: 150%;
  }
  
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
  .dropdown-content{
    overflow: visible !important;
}
