<!DOCTYPE html>
<html>

<head>

   <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>QueCuino</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <script src="{% static "js/jquery-3.3.1.min.js" %}"></script>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="{% static "css/materialize.css" %}">
    <!-- Compiled and minified JavaScript -->
    <script src="{% static "js/materialize.js" %}"></script>
    {% block head%}
    {% endblock %}
    <script src="{% static 'js/main.js' %}"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/main.css' %}" />


</head>
{% load static %}
<body background="{% static 'Images/fondo_registro.jpg' %}" style="background-size:cover ">
<!-- NAVBAR -->
{% if user.is_authenticated %}
    <div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper grey darken-4">
                <a href="{% url 'index' %}"><img src="{% static 'Images/logo.png' %}" style="width: 150px" href="#" class="brand-logo">
                      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                </a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a  data-target='dropdown1'  href="#registro" class="dropdown-trigger  orange lighten-2"><i class="material-icons right">person</i>Bienvingut,{{ user.get_username }}</a>

                    <!-- Dropdown Structure -->
                    <ul id='dropdown1' class='dropdown-content  orange lighten-2'>
                    <li><a href="{% url 'profile' %}"><i class="material-icons">perm_identity</i>Perfil</a></li>
                        <li><a href="{% url 'logout' %}"><i class="material-icons">exit_to_app</i>Log Out</a></li>
                </ul>
                </li>
            </ul>
        </div>
    </nav>
    <ul class="sidenav" id="mobile-demo">
     <li><a href="{% url 'profile' %}"><i class="material-icons">perm_identity</i>Perfil</a></li>
        <li><a href="{% url 'logout' %}"><i class="material-icons">exit_to_app</i>Log Out</a></li>
  </ul>
    </div>
    {% else %}
    <nav>
        <div class="nav-wrapper grey darken-4">
            <a href="{% url 'index' %}"><img src="{% static 'Images/logo.png' %}" style="width: 150px" class="brand-logo"></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="#login" class="modal-trigger  orange lighten-2"><i class="material-icons right">person</i>Login</a></li>
            </ul>
        </div>
    </nav>
{% endif %}

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- MODAL NAVBAR -->
    <div id="login" class="modal ">
        <h5 class="modal-close"></h5>
        <div class="modal-content center">
            <h4>Benvingut a QueCuino.cat</h4>
            <br>

            <form method="post" action="{% url 'login'  %}">
              {% csrf_token %}
                <div class="input-field">
                    <i class="material-icons prefix">person</i>
                    <input type="text" class="form-control" name="username">
                    <label for="name">Usuari</label>
                </div>
                <br>
                <div class="input-field">
                    <i class="material-icons prefix">lock</i>
                    <input type="password" class="form-control" name="password">
                    <label for="pass">Contrasenya</label>
                </div>
                <br>
                <a href="{% url 'register' %}">No tens compte? Registrat aquí</a>
                <br>
                <input type="submit" value="login" class="orange lighten-2 btn btn-large" style="width: 35%;">
                <input type="hidden" name="next" value="{{ next }}">
            </form>
        </div>
    </div>

    {% block content %}
    {% endblock %}

    <!-- FOOTER -->
{% load static %}
         <footer class="page-footer grey darken-4 ">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Patrocinadors</h5>
                  <div>
                      <img src="{% static "Images/dinahosting-logo.png"%}" style="margin:2%; max-width:200px; max-height:200px;">
                      <img src="{% static "Images/puntcat.png   "%}" style="margin:2%;  max-width:50px; max-height:50px;">
                      <div></div>
                  </div>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Apartats</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Rankings (Proximament)</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!" style="margin-bottom:3%">Més informació sobre QueCuino</a></li>
                    <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/"><img alt="Llicència de Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png" /></a><br /><a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/"></a>
                </ul>
              </div>
            </div>
          </div>
        </footer>
</body>

</html>