{% extends "base.html" %}
{% load static %}
{% block content %}
<main class="z-index:10">
            {% if recetas %}
            {% for receta in recetas   %}
                <div class="container">
                <div class="block" style=" margin: 2% 2%" >
                 <div class="col ">
                    <ul class="collapsible " style="background-color: white">
                        <li>
                            <div class=" collapsible-header" >
                                    <div class="col s12">
                                        <div class="col s6">
                                         <h4>{{ receta.nom_recepta }}</h4>
                                        <p>{{ receta.descripcio }}</p>
                                        <p>Autor: {{ receta.nom_user }}</p>
                                        <p>Data: {{ receta.data_creacio }}</p>
                                        </div>
                                        <div class="col s6">
                                            <p></p>
                                        </div>
                                    </div>
                                    </div>
                            <div class="collapsible-body container-fluid    " style=" background-color: white;">
                                <span>
                                            <img class="center-align" src="{% static "Images/plato.jpg" %}" style="width:100%; height:auto; margin-right:auto;margin-left:auto";>
                                            <div>
                                                <h3>{{ receta.nom_recepta }}</h3>
                                                <p>{{ receta.descripcio }}</p>
                                            </div>
                                            <div >
                                                <h5>Ingredients:</h5>
                                                <p>{{ receta.ingredients }}</p>
                                            </div>
                                            <div>
                                                <h5>Procediment</h5>
                                                <p>{{ receta.procediment }}</p>
                                            </div>
                                        <a class="hovervoto"><img style="height:50px; width: 50px" src="{% static "Images/like.gif" %}"></a>
                                    </span>
                            </div>
                        </li>
                    </ul>
                </div>
                </div>
                </div>
                </main>
            {% endfor %}
            {% else %}
                <p>No he recibido respuestas de la base de datos</p>x
            {% endif %}
<div class="fixed-action-btn" style="margin-bottom: 5%;">
  <a class="btn-floating btn-large orange" id="scroll" >
    <i class="large material-icons">publish</i>
  </a>
  <ul>
    <li><a class="btn-floating orange modal-trigger" href="{% url 'receta' %}"><i class="material-icons">mode_edit</i></a>
    </li>


  </ul>
</div>

</main>
{% endblock %}
