{% extends "base.html" %}
{% block content %}
<main class="z-index:10">
            {% if recetas %}
            {% for receta in recetas   %}
                <div class="container" style="margin-top:5%; margin-bottom:5%">
                <div class="card-panel hoverable">
                    <div class="row">
                        <h3>{{ receta.nom_recepta }}</h3><h5>hecho por: {{ receta.user_id }}</h5>
                        <p>{{ receta.descripcio }}</p>
                    </div>
                </div>
                </div>
            {% endfor %}
            {% else %}
                <p>No he recibido respuestas de la base de datos</p>
            {% endif %}
</main>
{% endblock %}
