{% extends 'base.html' %}
{% block content %}
    <main class="z-index:10">
    <div class="container" style=" margin-top:5%; margin-bottom:5%">
        <div class="card-panel hoverable ">
            <form class="col s12" method="post" action="{% url 'register' %}">
                {% csrf_token %}
                <div class="row">
                    {{ post.nom_recepta }}
                    {{ post.descripcio }}
                    {{ post.data_creacio }}
                    {{ post.usuario }}
                    {{ post.ingredients }}
                    {{ post.procediment }}
                         <form action="{% url 'like_receta' %}" method="POST">
                                                {% csrf_token %}
                                                {% if is_liked  %}
                                                <button type="submit" name="post_id" value="{{ post.id }}" class="btn red">Dislike</button>
                                                 {% else %}
                                                    <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-primary">Like</button>
                                                {% endif %}
                                            </form>
                </div></form>
        {{ post.votstotals }}
        </div>
    </div>

</main>
{% endblock %}