
{% extends 'base.html' %}
{% block content %}

 <main class="z-index:10">
        <div class="row">
            <div class="container">
                <div class="card-panel hoverable">
                    {% for usuari in usuario %}
                    <h3 class="center-align">PERFIL D'USUARI</h3>
                    <h5><b>Usuari: </b>{{ usuari.user }}</h5>
                    <h5><b>Email: </b>{{ usuari.email }}</h5>
                        <h5><b>Data de neixament: </b>{{ usuari.datanaixament }}</h5>
                        <h5><b>Nom i cognom: </b>{{ usuari.nom }} {{ usuari.cognom }}</h5>
                        <button href="{% url 'change_password' %}" class="btn btn-large">Canviar contrasenya</a></button>
                    {% endfor %}
                </div>
            </div>
        </div>
                <div class="row">
                    <div class="container">
                {% for receta in recepta %}
                    <div class="col s12 m6 l4" style="margin-bottom:3%; margin-top: 3%;">
                        <div class="card" style="width:95%; height: 80%">
                            <div class="card-image">
                                {% load static %}
                                <img src="{{ MEDIA_ROOT }}/{{ receta.imatge}}" style="max-height: 275px;">
                                   <span class="card-title">{{ receta.nom_recepta}}</span>
                            </div>
                            <div class="card-content">
                                <p>Data: {{ receta.data_creacio }}</p>
                                <p>Creat per: <a href="{% url 'user_detail' receta.usuario_id receta.usuario %}" class="orange-text">{{ receta.usuario }}</a></p>
                            </div>
                            <div class="card-action">
                                <a href="{% url 'blog:post_detail' receta.id receta.slug %}" class="">Veure recepta</a>
                                <button class="btn" style="margin-bottom:1%; float:right">{{ receta.votsenumero}}</button>
                                <!-- Modal Structure !-->
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
        </div>

        <div class="fixed-action-btn" style="margin-bottom: 5%;">
            <a class="btn-floating btn-large orange" id="scroll">
                <i class="large material-icons">publish</i>
            </a>
            <ul>
                {% if user.is_authenticated %}
                    <li><a class="btn-floating orange modal-trigger" href="{% url 'receta' %}"><i
                            class="material-icons">mode_edit</i></a>
                    </li>
                {% endif %}
            </ul>
        </div>

    </main>
{% endblock %}
